html{
    font-size:16px;
}
body{
    background:#00ffb81f;
}
nav{
    display: grid;
    height:1rem;
    background:#36afa4;
    justify-content:end;
    height: 3rem;
    align-content:center;
    font-size:2rem;
    border:1px solid;
    margin:1rem;
}
main{
    display: grid;
    border:1px solid;
    margin:1rem;
}
.header {
    display: grid;
    border: 1px solid;
    margin: 1rem;
    /* justify-items: center; */
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.topics-container{
    display: grid;
     border:1px solid;
    margin:1rem;
    justify-content:center;
    
}
.topic-item {
    display: grid;
    border: 1px solid;
    margin: 1rem;
    /* justify-items: center; */
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(auto, auto) 1fr;
    grid-auto-flow: row;
    grid-auto-rows: minmax(auto, auto);
}
.topic-heading{
    display: grid;
     border:1px solid;
    margin:1rem;
    grid-column:1 /span 2;
    justify-items: center;
    font-size: 1.7rem;
}
.topic-sub-heading{
    display: grid;
     border:1px solid;
    margin:1rem;
    grid-column:1 /span 2;
    font-size: 1.5rem;
    
}
.code-area{
    display: grid;
     border:1px solid;
    margin:1rem;
    background:black;
    color:white;  

}
.topic-explain {
    display: grid;
    border: 1px solid;
    margin: 1rem;
    font-size: 1.2rem;
}