/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}

.logo h1 {
    margin: 0;
    font-size: 1.5em;
}

.social-media a {
    color: #fff;
    margin-left: 1em;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

/* Main Content Section */
main {
    flex: 1;
    padding: 2em;
}

/* About Me Section */
.about-me {
    background: #333;
    color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 2em;
    text-align: center;
}

.about-me h2 {
    font-size: 2rem;
    color: #f1c40f;
    margin-bottom: 1em;
    border-bottom: 3px solid #f1c40f;
    padding-bottom: 0.5em;
    display: inline-block;
}

.about-me p {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Learning Section */
.learning {
    background: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}

.learning h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1em;
    text-align: center;
}

.learning p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
}

.learning-HTML,
.learning-JavaScript {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
}

.learning-HTML h3,
.learning-JavaScript h3 {
    font-size: 1.5rem;
    color: #f1c40f;
    margin-bottom: 0.5em;
    text-align: center;
}

.learning-HTML p,
.learning-JavaScript p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

/* Projects Section */
.projects {
    background: #eee;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-heading {
    margin-bottom: 2em;
}

.project-heading h1 {
    font-size: 2rem;
    color: #333;
}

.project-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2em;
    margin: 1em;
    background: #fff;
    text-align: center;
    transition: background-color 0.3s;
}

.project-item:hover {
    background: #f1c40f;
}

.project-item a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
}

.project-item a:hover {
    text-decoration: underline;
}

/* Footer Section */
footer {
    background: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    border-top: 1px solid #444;
}

footer a {
    color: #f1c40f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
