html
{
  background:#ff0c;
  margin:0 auto;
  font-size:16px;
}
body
{
  margin: auto;
  background: white;
}
.container
{
  border: 1px solid;
  display:flex;
  flex-flow:column;
 
}
nav
{
  display:flex;
  flex-flow:row;
   justify-content:center;
   background: white;
   height: 7rem;
 
}
nav ul {
  display: inline-flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #834f00;
  margin-top: 0.1rem;
}
nav ul li{
  padding:1rem;
}
nav img
{
  max-width:5rem;
  border-radius:50%;
}
#nav-list
{
  border: 0px solid;
}
nav a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  background: #a3d119;
  color: white;
  padding: 1rem;
  border-radius: 4rem;
  width: 7rem;
}
header
{
 
  display:flex;
  justify-content:center;
  align-content:center;  
  background:url('../images/banner.png');
  background-size:cover;
  width:100%;
  height: 40rem;
  background-position: bottom;


}
.banner {
  display: flex;
  flex-basis: 70%;
  justify-content: space-around;
  background: black;
  opacity: 0.7;
  height: 50%;
  margin-top: 10rem;
  margin-bottom: 10rem;
  overflow: hidden;
}
.banner h2 {
  color: #ffa707;
  text-align: center;
  align-self: center;
}
#dish {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #d0842c;
  color: white;
  text-transform: uppercase;
}
#Contact
{
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #d0842c;
  color: white;
  text-transform: uppercase;
}


 #product {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: repeating-linear-gradient(323deg, white, orange 4px), white;
}

.product-secition-heading {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  background: white;
  color: black;
  text-transform: uppercase;
}
#team
{
   border: 1px solid;
    display:flex;
    justify-content:center;
    align-content:center;
    background: #d0842c;
    color: white;
}
#employee
{
  
   display:flex;
   justify-content:space-around;
   flex-wrap:wrap;
   background: white;
}
header
{
   
  
}
#location
{
 display:flex;
 flex-flow:row;
 justify-content:center;
 align-content:center;
}
.product-item {
  border: 1px solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  flex-direction: column-reverse;
  background: blanchedalmond;

  margin: 2rem;
  /*flex-basis: 37rem;*/
  width:37rem;
  
}
.product-item img {
  max-width: 25rem;
  max-height: 20rem !important;
  min-width: 25rem;
  min-height: 18rem;
  border-radius: 3rem;
}
p.dish-heading {
  background: #fdb03c;
  padding: 1rem;
  color: white;
  margin: 0.5rem;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  /* font-weight: bold; */
}
p.dish-details {
  text-align: center;
  font-size: 1.1rem;
}
.employee-item
{
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column-reverse;
  margin: 2rem;
 
}
.employee-item img {
  max-width: 25rem;
  max-height: 20rem !important;
  min-width: 25rem;
  min-height: 18rem;
  border-radius: 10rem;
}

p.employee-item {
  background: #a3d119;
  padding: 1rem;
  color: white;
}
#map{border: 1px solid;}
#address{border: 1px solid;}
footer
{
  display:flex;
  border: 1px solid;
   justify-content:center;
   align-content:end;
}
#map{flex-grow:1; justify-self:center;}

  #address {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}





/*Media query*/
/*Mobile*/
@media only screen and (max-width:480px) and (min-width:768px)
{
  body{
   
  }
}
/*Tablet*/
@media only screen and (max-width:768px) and (min-width:1600px)
{
  body{
    
  }
}
/*Tablet Landscape*/  
@media only screen and (max-width:1024px),(orientation:landsacpe)
{
  body{
    
  }
}

/*Laptop*/
@media only screen and (max-width:1600px)
{
  body{
   
  }
}

/*Desktop*/
@media only screen and (min-width:1600px)
{
  body{
    
  }
}