header .logo {
    
}
.banner
{
    background-image: url(/Restart/html_Project/fotomatic/images/banner-landingpage.jpg);
    background-size: cover;

}
.image-container img {
  
}

#filters-section .images-container {
   
    display: inline-flex;
}
header {
 
    z-index: 1;
    position: relative;
}
header .content {
   
    z-index: 99;
}
header nav ul {
  
}
div#sign-up-cta {
   
}

#sign-up-cta .button {
    /*margin-top: 1.625rem;
     padding: 1.25rem 7.25rem; 
    margin-bottom: 3.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    width: 25.5rem;
    height: 64px;*/
}

#sign-up-section {
    height: auto !important;
    padding-bottom: 170px;
    padding-top: 170px;
    padding-left: 100px;
}

header .logo {
    text-decoration: none;
    font-size: 1.7rem;
    font-family: monospace;
    color: black;
}

header .content {
    display: flex;
    /* align-items: center; */
    padding: 1.875rem;
    margin-left: 30px;
    margin-right: 30px;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

li {
   
    text-decoration: none !important;
}

nav a {
    
    text-decoration: none;
}

.feature {
    display: inline-flex;
    height: 39rem;
}

img {
    max-width: 100%;
}

.feature .image-container {
    /* width: 90%; */
   
    /* margin: 0 auto; */
    margin: 32px 32px 40px 32px;
}

.feature h2 {
    padding-bottom: .5rem;
    font-size: 2.25rem;
    font-weight: bold;
    color: #4a4a4a;
}

.feature h3 {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 300;
    color: #4a4a4a;
}

body {
    display: block;
    margin: 0 auto;
}

#quotes-section .quote {
    padding-right: 1.875rem;
    font-family: "Palatino", serif;
    font-size: 1.875rem;
    line-height: 1.1;
    font-style: italic;
    color: #4a4a4a;
}

nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: #4a4a4a;
}

.content.center {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
footer .content {
    color: white;
    display: flex;
    font-size: .75rem;
}