.display1-1-block
{
    height: 50px;
    width: 100px;
    border: 2px solid royalblue;
    margin:1px;
    display: block;
}
.display1-1-inline
{
    height: 50px;
    width: 100px;
    border: 2px solid royalblue;
    margin:1px;
    display: inline;
}
.display1-1-inline-block
{
    height: 50px;
    width: 100px;
    border: 2px solid royalblue;
    margin:1px;
    display: inline-block;
}
.display2-2-flex /*child FLEX*/
{
    height: 50px;
    width: 100px;
    border: 2px solid royalblue;
    margin:1px;
   
   
}
.display2-flex /*Parent FLEX*/
{
    border: 1px solid red;
    display: flex;
}
.display3-inline-flex{
    border: 1px solid rgb(30, 255, 0);
    display: inline-flex;

}
.Display3-3
{
    border:1px purple solid;
}
.display3-3-flex
{
    height: 50px;
    width: 100px;
    border: 2px solid royalblue;
    margin:1px;
}
.container-Justify
{
    display: flex;
    border: 1px solid goldenrod;
    
}

.box 
{
    min-width:50px;
    min-height:50px;
    background-color: brown;
    color: white;
    border: 1px solid white;
}
.justify-align-items{
    display: flex;
    border: 1px solid goldenrod;
    min-width: 200px;
    height: 150px;
}
.container1 {
    height: 150px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
  }
  

  
  #baseline .center {
    height: 100px;
    width: 100px;
    border: 5px solid turquoise;
  }
  .container {
    border: 2px solid;
    margin: 2px;
    padding: 2px;
}
#flex-grow , .flex-shrink {
    display: flex;
   
    border: 1px solid skyblue;
    padding: 5px;
    margin: 5px;
}
#flex-grow .box 
{
    min-width:10px;
    min-height:50px;
    background-color: brown;
    color: white;
    border: 1px solid white;
}
.flex-shrink .box 
{
    min-width:10px;
    min-height:50px;
    background-color: brown;
    color: white;
    border: 1px solid white;
}
#left
{
    flex-grow: 1;
}
#center-1
{
    flex-grow: 2;
}
#left-1 , #right-1 {
    max-width:250px;
}
#center-1-1{
    flex-grow:1;
}
.flex-shrink{
    justify-content:center;
}
#flex-1-left
{
flex-shrink: 2;
width: 250px;
}
#flex-1-center
{
    width: 250px;
    flex-shrink: 2;
}
#flex-1-right
{
    width: 250px;
    flex-shrink: 2;
}
#flex-2-left
{
    width: 350px;
    flex-shrink: 2;
}
#flex-2-center
{
    width: 250px;
    flex-shrink: 1;
}
#flex-2-right
{
    width: 250px;

}
#flex-3-left
{
    width: 250px;
    flex-shrink: 3;
}
#flex-3-center
{
    width: 250px;
    flex-shrink: 1;
}
#flex-3-right
{
    width: 250px;
    flex-shrink: 3;
}
.flex-basis
{
    display: flex;
}

.flex-box-1
{
   flex-basis:350px;
    background-color: brown;
    color: white;
    border: 1px solid white;
}
.flex-box-2
{
   width:350px;
    background-color: brown;
    color: white;
    border: 1px solid white;
}
.flex-wrap,.flex-nowrap,.flex-wrap-reverse{display: flex;justify-content: space-around;}
.flex-wrap-box
{
    width:300px;
    min-height:50px;
    background-color: brown;
    color: white;
    border: 1px solid white;
    
}
.flex-wrap{flex-wrap:wrap;}
.flex-nowrap{flex-wrap:nowrap;}
.flex-wrap-reverse{flex-wrap:wrap-reverse;}
.flex-container
{
    display:flex;
    flex-wrap: wrap;
    border: 1px yellowgreen solid;
    height: 500px;
}
.flex-container .box{
    width:300px;
    min-height:50px;
    background-color: brown;
    color: white;
    border: 1px solid white;
}
.flex-direction-container{
    display: flex;
    border: 1px yellowgreen solid;
    height: 500px;
}
.flex-direction-container .box{
    flex-basis:300px;
    height:50px;
    background-color: brown;
    color: white;
    border: 1px solid white;
}