html{
    font-size:16px;
}
body {
    background: #0a0a0a;
    color: white;
}
nav{
    display: grid;
    height:1rem;
    background:#36afa4;
    justify-content:end;
    height: 3rem;
    align-content:center;
    font-size:2rem;
    border:1px solid;
    margin:1rem;
}
main{
    display: grid;
    border:1px solid;
    margin:1rem;
}
.header {
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-content: space-between;
    border: 1px solid white;
    padding: 1rem;
    background: #333;
}
.logo {
    display: grid;
    justify-self: start;
    color: white;
}
section.logo h1 {
    margin: 0;
    font-size: 1.5rem;
}
.social-media {
    display: grid;
    justify-items: end;
    grid-template-columns: 1fr;
    justify-items: end;
    /* justify-content: space-around; */
}
section.social-media a {
    color: white;
    text-decoration: none;
}
.footer
{
    display: grid;
    border: 1px solid white;
  
        background: #f1f1f1;
        padding: 1em;
        text-align: center;
        border-top: 1px solid #ddd;
 
}
section.footer p, a {
    color: black;
    margin: 0;
}
.footer a {
    color: #007bff !important;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
.container {
    display: grid;
    
    grid-template-rows: 1fr auto;
    justify-items: center;
    grid-row-gap: 5rem;
    justify-content: center;
    color: white;
    grid-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    grid-auto-flow: dense;
    background: #00878b;
}
.topic-item {
    text-align: center;
    border: 1px solid;
    display: grid;
    background: white;
    color: black;
    justify-content: center;
    text-align: left;
    width: 100%;
  
}
.topic-heading{
    display: grid;
     border:1px solid;
    margin:1rem;
    grid-column:1 /span 2;
    justify-items: center;
    font-size: 1.7rem;
}
.topic-sub-heading{
    display: grid;
     border:1px solid;
    margin:1rem;
    grid-column:1 /span 2;
    font-size: 1.5rem;
    
}
.code-area{
    display: grid;
     border:1px solid;
    margin:1rem;
    background:black;
    color:white;  
    font-size:0.75rem;

}
.topic-explain {
    display: grid;
    border: 1px solid;
    margin: 1rem;
    font-size: 1.2rem;
}
.fxn-review img{
    max-width: 100%;

}
ul.fxn-review {
    display: grid;
    grid-template-columns: 1fr 1fr;
}



ul.fxn-review li {
    font-size: 1rem;
    margin: 2rem;
    background: black;
    display: grid;
    justify-content: center;
    justify-items: center;
}

ul.fxn-review li p {
    text-align: center;
    color: white;
}