.container
{
    display: grid;
}
.grid-item
{
    border: 1px solid;
}
.grid-container
{
    border: 1px solid;
    margin: 10px;
    display: grid;
}
.grid-container-3
{
    display: grid;
    width: 500px;
    border: 1px solid red;
    grid-template-columns: 100px 200px;
}
.grid-container-4
{
    display: grid;
    width: 500px;
    border: 1px solid red;
    grid-template-columns: 20% 50%;
}

.grid-container-5
{
    display: grid;
    border: 1px solid red;
    width: 1000px;
    grid-template:50% 50% / 10% 100% 40% ;
   
}

.grid-container-6
{
    display: grid;
    border: 1px solid red;
    width: 1000px;
    grid-template: 2fr 3fr / 2fr 3fr 4fr ;
}
.grid-container-7{
    border: 1px solid red;
    display: grid;
    width: 1000px;
    grid-template-columns: 1fr 60px 1fr;
}
.grid-container-8
{
    display: grid;
    border: 1px solid red;
    width: 1000px;
    grid-template: repeat(3,2fr)/repeat(5,200px 100px);
}

.grid-container-9
{
    display: grid;
    border: 1px solid red;
    width: 1000px;
    /*grid-template: repeat(3,2fr)/repeat(5,200px 100px);*/
    grid-template: 1fr/ repeat(2, 350px minmax(100px, 150px));
}

.grid-container-10
{
    display: grid;
    border: 1px solid red;
    width: 1000px;
    grid-template: 3fr 2fr / repeat(2, 2fr);
}

.grid-container-11
{
    display: grid;
    border: 1px solid red;
    width: 1000px;
    grid-template: 1fr/ repeat(2, 2fr);
    column-gap: 10px;
    row-gap: 10px;

}
.grid-multiple-row-items {
    display: grid;
    border: 2px blue solid;
    height: 500px;
    width: 500px;
    grid-template: repeat(2, 1fr 2fr) / repeat(4, 3fr 2fr);
    gap: 5px;
  }
  .grid-multiple-column-items {
    display: grid;
    border: 2px blue solid;
    height: 500px;
    width: 500px;
    grid-template: repeat(2, 1fr 2fr) / repeat(4, 3fr 2fr);
    gap: 5px;
  }
  .grid-mutliple-row
  {
    grid-row-start:2;
    grid-row-end:4;
  }
  .grid-mutliple-column
  {
    grid-column-start:2;
    grid-column-end:4;
  }
  .grid-template-areas-div
  {
    
    border:1px solid;
    grid-template-areas:    "header header header"
                            "nav nav nav"
                            "left right right "
                            "footer footer footer";
  }
  .header {
    grid-area: header;
  } 
  
  .nav {
    grid-area: nav;
  } 
  
  .left {
    grid-area: left;
  } 
  
  .right {
    grid-area: right;
  }
  
  .footer {
    grid-area: footer;
  } 

  .grid-container-Justify-Items
  {
    grid-template: 150px 150px / 250px 250px;
    border: 1px blue solid;
    display: grid;
    justify-items: center;
  }
  .grid-container-Justify-Items .grid-item
  {
    width: 100px;
    height: 150px;
    border: 1px solid red;
  }
  .grid-container-Justify-content
  {
    grid-template: 150px 150px / 250px 250px;
    border: 1px blue solid;
    display: grid;
    justify-content: center;
  }

  .grid-container-align-items
  {
    grid-template: repeat(3,50px)/ 250px 250px;
    border: 1px blue solid;
    display: grid;
    align-items: end;
    height: 500px;
  }
  .grid-container-align-content, .grid-container-self
  {
    grid-template: repeat(3,50px)/ 250px 250px 250px;
    border: 1px blue solid;
    display: grid;
    height: 500px;
    align-content: center;

  }
  .grid-auto-rows-without
  {
    grid-template: repeat(3,50px)/ 450px 450px;
    border: 1px blue solid;
    display: grid;
    align-items: end;
    grid-gap:2px;
    justify-content: space-around;
  
  }
  .grid-auto-rows-with
  {
    grid-template: repeat(3,50px)/ 450px 450px;
    border: 1px blue solid;
    display: grid;
    align-items: end;
    grid-gap:2px;
    grid-auto-rows: 81px;
    justify-content: space-around;
  }

  .grid-auto-column
  {
    grid-template: repeat(3,50px)/ 450px 450px;
    border: 1px blue solid;
    display: grid;
    align-items: end;
    grid-gap:2px;
    grid-auto-flow: column;
  }