/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Ensuring the wrapper takes full height */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 10px 20px;
}

.logo h1 {
    font-size: 1.8em;
}

.logo p {
    font-size: 1em;
    font-weight: lighter;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.social-media a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    padding: 20px;
}


.Topic {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Topic-Heading h1 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.Topic-Item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.topic-heading {
    font-size: 1.4em;
    color: #333;
}

.topic-sub-head {
    font-size: 1em;
    color: #666;
}

.topic-button {
    display: flex;
    justify-content: center;
}

.topic-button button {
    background: #f1c40f;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

.topic-button button:hover {
    background: #f1c40f;
}

.topic-button a {
    color: #fff;
    text-decoration: none;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #00f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
