
body
{
    margin: auto;
    background: #1c6f08b0;
    color: white;
}
.header-nav {
    display: flex;
    justify-content: end;
    line-height: 30px;
    flex-wrap: wrap;
}
.header
{
    background-color: #d6790b9e;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}
li{

    
    min-width: 100px;
    list-style: none;
    display: inline;

}
.main
{
    width: 100%;
    border: 2px solid;
    display: flex
}
.container
{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

}
.section-process {
    padding: 10px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    background: white;
    border: 1px solid;
    align-items: center;
    justify-content: center;
    flex: 0 0 25%;
    color: black;
    flex-direction: column;
    margin: 11px;
}

.container-inner
{
    display: flex;
    flex-basis: 100%;
    border: 1px solid;
}

.menu-price {
    flex-basis: 34%;
    border: 1px solid;
    height: 200px;
    align-items: center;
    /* align-content: center; */
    justify-content: center;
    display: flex;
    background-color: #547281;
}

.section-heading
{
    display: flex;
}
.section-content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
   
}
.footer
{
    width: 100%;
    display: flex;
    bottom: 0;
    justify-content: center;
    background: #d6790b9e;
    left: 0;
}
.row
{
    display: flex;
    width: 100%;
    justify-content: center;
}

.header-img
{
    position: relative;
    flex: 0 0 100%;
}
.text-overlay
{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #0000007a;
    transform: translate(-50%, -50%);
    font-size: 50px;
}
.process-img
{
    flex-wrap: wrap;
}

