body
{
    background-color: #00878b;
    color: white;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 1fr auto;
    justify-items: center;
    grid-row-gap: 5rem;
    justify-content: center;
    color: white;
    grid-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    grid-auto-flow: dense;
}
.topic {
    text-align: center;
    border: 1px solid;
    display: grid;
    background: white;
    color: black;
    grid-template-columns: 88%;
    justify-content: center;
    text-align: left;
    min-width: 80%;
    max-width: 80%;
}
.topic-heading p {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
.topic-explain {
    display: grid;
}
.topic-explain img {
    /* display: grid; */
    width: 50%;
}
p.topic-code-area img {
    width: 50%;
}
.topic-code ul {
  
    padding-inline-start: 1rem;
    
}

.topic-explain p {
    font-size: 1.2rem;
    font-family: monospace;
    text-align: justify;
}
.topic-card {
    display: grid;
    /* align-content: space-evenly; */
    grid-template-columns: 100%;
}

.topic-button {
}
li {
    display: inline;
    font-size: 2rem;
}

Nav {
    display: grid;
    background: repeating-linear-gradient(45deg, white, transparent 100px);
}

.topic .topic-heading > h1 {
    background: black;
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 10rem;
    text-align: end;
}
.topic-code li {
    font-size: 1.1rem;
}
.topic-code p {
    font-size: 1.3rem;
    text-align: left;
    /* font-weight: bold; */
    font-family: cursive;
}
code {
    font-weight: lighter;
    color: white;
    background: black;
    display: grid;
    padding: 0rem;
    justify-content: center;
    grid-template-columns: 100%;
    margin-left: -1rem;
    padding: 2rem;
    /* text-align: left; */
    font-size: 1rem;
    text-indent: -1rem;
}
.topic-code>p {
    background: black;
    color: white;
    font-size: 1.4rem;
    border-bottom-right-radius: 10rem;
    padding: 1rem;
}
.topic-code ul li {
    /* padding-inline-start: 1rem; */
    list-style-type: decimal;
    display: list-item;
}